<head>
  <link ref="../../assets/stylesheets/nozomi.css"></link>
  <script type="text/javascript" src="../../assets/javascripts/nozomi.js"></script>
</head>
<body>
  <div><%= @nozomi %></div>
  <img id="prev_washi" alt="washi_washi" src="http://tn-skr1.smilevideo.jp/smile?i=20136256.L" onclick="nozomi()"/>
</body>
