<div><%= @washi %></div>
<img id="nozomi_photo" alt="washi_washi" src="http://cdn.mkimg.carview.co.jp/minkara/userstorage/000/007/307/117/ba10891b53.jpg"/>

<div><button onclick="javascript:history.back()">戻る</div>